# Copyright (C) 2019 Mariusz Jaskółka <mar.jaskolka@hmail.com>

# This is the clang-format configuration style based on the
# Qt framework code convension with my own modifications.


BasedOnStyle: WebKit

#Cpp11 also works for 14, 17, ...
Standard: Cpp11

# IncludeBlocks: IBS_Regroup  #this is to new feature
# PenaltyExcessCharacter: 4
AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true
CommentPragmas: "^!|^:"
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 8
Cpp11BracedListStyle: true
FixNamespaceComments: true
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH, forever, Q_FOREVER, QBENCHMARK, QBENCHMARK_ONCE ]
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
UseTab: Never

#This is not how Qt does it:
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 120
PointerBindsToType: true
SortIncludes: true

